/* common shared styles */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

.text {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.btn {
    border-radius: 5px;
    background: #F15B22;
    border: 0px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    height: 64px;
    width: 160px;
    margin-top: 30px;
}

/* Header styles */

header {
    background-image: url("../images/banner/banner1.png");
    background-size: cover;
    height: 650px;
    display: flex;
}

.header-text {
    margin-top: 24px;
}

.header-container {
    margin-top: 150px;
    margin-left: 700px;
    text-align: right;
}

/* Main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Failure item */

.failures {
    display: flex;
    align-items: center;
    margin-top: 130px;
}

.failure-img {
    width: 450px;
    justify-content: space-around;
    margin-left: 60px;
}

.failure-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.failure-text {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul li:before {
    content: '✓ ';
    color: #16D887;
}

.failure-content {
    height: auto;
    width: 400px;
    margin-left: 100px;
}