/* common shared styles */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.text {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}

.btn {
    border-radius: 5px;
    background: #F15B22;
    border: 0px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    height: 64px;
    width: 160px;
    margin-top: 30px;
}

/* Header styles */

header {
    background-image: url("../images/banner/banner1.png");
    background-size: cover;
    height: 650px;
    display: flex;
}

.header-text {
    margin-top: 24px;
}

.header-container {
    margin-top: 150px;
    margin-left: 700px;
    text-align: right;
}